<div class="field-unit__label">
  <%= f.label field.attribute %>
</div>
<div class="field-unit__field">
  <%= f.color_field field.attribute, class: "tenf-color-picker", style: "padding: 0px; width: 40px;" %>
</div>